<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #7ae6f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .container {
        width: auto;
        height: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.269);
      }

      .form-signin {
        text-align: center;
      }

      .form-signin-heading {
        margin-bottom: 20px;
        color: #333;
      }

      .form-control {
        margin-bottom: 15px;
      }

      .btn-primary {
        background-color: #007bff;
        border: none;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      .btn-primary:hover {
        background-color: #0056b3;
      }

      a {
        text-decoration: none;
        color: #007bff;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form class="form-signin" action="/user/login" method="post">
        <h2 class="form-signin-heading">Welcome Log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form- control"
          placeholder="Email address"
          required=""
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required=""
        />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
        </button>
        <br />
        <p>Don't have an account? <a href="/signup">Signup</a> , it's free.</p>
      </form>
    </div>
  </body>
</html>
